<nav class="navbar navbar-expand-sm navbar-light" style="background-color: black;">
    <a class="navbar-brand" style="color: white;" routerLink=""><b>VideoPlayer</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <span class=""><i class="fas fa-bars fa-1x" style="color: #fff;"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="navbar-nav">
            <a class="nav-item nav-link" style="color: white;" routerLink="home" routerLinkActive="active">Home</a>
            <a class="nav-item nav-link" style="color: white;" routerLink="videos">Playlist</a>
        </div>
    </div>
</nav>